@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    zoom: 90%;
  }
.mobile-hero-img{
    display: none;
}
.text-center{
    text-align: center;
}

.django{
    max-width: 200px;
    align-items: center;
    text-align: center;
    z-index: 5;
    
}

.brands{
    background-color: #fff
}

.herofeature{
    margin-bottom: 25px;
    margin-top: 25px;
}

.purplebg{
    background-color: #574DE1;
    padding-left: 20px;
    margin-bottom: -50px;
    width: 190px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    color: #f9f9f9;
    font-weight: 600;
}

.lower{
    padding-top: 50px;
}
.brands h3{
    font-size: 29px;
    margin-bottom: 5px;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    line-height: 29px;
    font-weight: 400;
    color:#767676;
}

.backgroundsvg{
    position: absolute ;
    z-index: -1;
}

h1,h2,h3,h4,h5,h6,p, ul{
  margin:0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
    color: #010010;
}

ul{
    padding-left: 0;
    list-style: none;
}

ol{
    padding-left: 10px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.15;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 49px;
    line-height: 72px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}


h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
}

h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
}

body p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #767676;

}

 body .lead-1 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 49px;
}

body .lead-2 p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height:30px;

}

a{
    text-decoration: none;
}


footer ul li a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    color:#FFFFFF;
    opacity: 0.8;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.purple h5, .purple h3, .purple {
    color:#574DE1
}

body .btn , body button[type="submit"] ,
body input[type="submit"]{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #574DE1;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    min-width: 180px;
    max-width: 100%;
    border: 2px solid  #574DE1;
    outline:none;
    text-decoration: none;
     padding: 15px 15px;
     text-align: center;
     transition: 0.3s all;
}

body .btn:hover , body button[type="submit"]:hover ,
body input[type="submit"]:hover{
    background: transparent;
    color:#574DE1;
    text-decoration: none;
}

body .btn.black-trans , body  button[type="submit"].black-trans ,
body input[type="submit"].black-trans{
   background: transparent;
   border-color:#262626;
   color:#262626
}

body .btn.black-trans:hover , body  button[type="submit"].black-trans:hover,
body input[type="submit"].black-trans:hover{
    background: #262626;
    color:#fff
}

body .btn.black , body  button[type="submit"].black ,
body input[type="submit"].black{
    background: #262626;
    border-color:#262626;
    color:#fff
}

body .btn.black:hover , body  button[type="submit"].black:hover ,
body input[type="submit"].black:hover{
    background: transparent;
    color:#262626;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    position: relative;
    padding: 30px 0;
}

header ul li a{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
    text-decoration: none;
    color:#767676;
    position: relative;
}

header ul li a.active{
    font-weight: 600;
    color:#574DE1;
}


header ul li a:after{
    content:"";
    width:100%;
    height: 2px;
    background: #574DE1;
    bottom: 0;
    position: absolute;
    left:0;
    transition: 0.3s all;
    transform: scale(0);
}

header ul li a:hover:after{
    transform: scale(1);
}

header ul li a.active:after{
    transform: scale(1);
}

header ul li a:hover{
    color:#574DE1;
}

header ul{
    display: flex;
}

header ul li:not(:last-child){
    margin-right: 40px;
}

header .container , header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
   
header .menu-links{
   margin: 0 30px
}

.logo{
    max-width:111px;
    cursor: pointer
}

header span.menu-open{
    cursor: pointer;
    display: none
}

header span.menu-open i{
    font-size:30px;
    color:#574DE1
}

header span.menu-open i:hover{
    color:#262626
}

/*====== hero-section =====*/
.hero-section .container{
   display: flex;
}

.hero-section .hero-col.content{
   width:50%;
   padding: 30px 30px 0 0 ;
   display: flex;
   flex-direction: column;
   justify-content: end;
}

.hero-section .hero-img{
    width:50%
 }

 .hero-section .hero-img img{
     width: 100%;
     height: 100%;
     object-fit: contain;
 }


span.line{
   background: #574DE1;
   width:70px;
   height:2px;
   margin-right: 20px;
   display: inline-block;
}

.hero-col h5{
    display: flex;
    align-items: center;
}

.hero-col h1, .hero-col p{
    margin-top: 20px;
}

.hero-section .btn-cont{
    margin: 50px -15px 0;
    width:calc(100% + 30px);
}

.btn-cont a{
    margin: 0 15px 15px;
}

.brands .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.brands h2{
    font-size: 30px;
}
   
.brands .img{
    width:calc(20% - 40px);
    padding: 20px;
    text-align: center;
    height: 55px;
}
     
.brands .img img{
    vertical-align: bottom;
    max-height: 300%;
    height: 100%;
    object-fit: cover
}
.brands .img .svgweb{
    height: 125%;
}

.brands p{
    font-size: 12px;
}
   
.brands{
    padding: 50px 0;
    margin-top: 50px;
}

.services .left-col{
    width:calc(100% - 400px)
}
   
 .services .right-col{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}
   
.services .container{
    display: flex
}
   
.services .left-col{
    display: flex;
    flex-wrap: wrap
}

.services .left-col .serv-box{
    width:calc(50% - 50px);
    margin: 0 25px 0;
}

.services .left-col .serv-box:not(:last-child){
    padding-bottom: 100px;
}
   
.services{
    padding: 100px 0 30px;
}

.services .right-col .serv-box{
    padding: 0;
}
.serv-box .inn-box{
    background: #FFFFFF;
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 20px
}

.right-col .serv-box .inn-box{
   box-shadow: none;
}
   
.serv-box .inn-box p{
    margin-top: 20px
}

.lowerinn p{
    padding-bottom: 20px;
}
.services .left-col img{
    width:180px;
    height:136px;
    margin-top: -50px
}
   
.services .left-col h3{
    margin-top: 30px
}


/*===== boxes section =====*/
.main-content {
    max-width: 810px;
    margin: 0 auto;
    text-align: center
 }
 
 .main-content p{
    margin-top: 10px
 }
 
 .boxes {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
 }
 
 .box{
    width:calc(33.33% - 50px);
    margin: 0 25px 30px;
 }

 .box .box-wrap{
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 45px 40px;
    min-height: 362px;
 }
 
 .box .boximg{
    background: #F3F2FF;
    border-radius: 10px;
    width:44px;
    padding: 15px
 }
 
 .box h5.purple{
    font-weight: 500;
    margin-top: 30px
 }
 .box h5{
     margin-top: 15px
 }
 .box p{
     margin-top: 20px
 }

 .padd-sec{
     padding: 50px 0;
 }

 .big-padd{
     padding: 70px 0 0;
 }

.choose-sect .main-content{
    margin: 0;
    text-align: left;
}

.choose-sect .box{
    text-align: center;
}

.choose-sect .box .box-wrap{
    background: #FFFFFF;
    border: 0.5px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.3s all;
    min-height: 408px;
    height: 100%;
}

.choose-sect .box .boximg{
    margin: 0 auto;
}


.choose-sect .box .box-wrap:hover{
    background: #262626;
}

.choose-sect .box .box-wrap:hover p,
 .choose-sect .box .box-wrap:hover h3 ,
  .choose-sect .box .box-wrap:hover h5, 
  .choose-sect .box .box-wrap:hover h6 ,
  .choose-sect .box .box-wrap:hover .social i{
   color: #FFFFFF;
}

.choose-sect .box h3{
    margin-top: 40px
}

.choose-sect .box p{
    font-size: 18px;
    line-height: 32px;
}

.box h6{
   color: #767676
}

.box .teamimg{
    width:130px;
    height:130px;
    margin: -80px auto 0;
}

.box .teamimg img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}
.team-sect .boxes{
    margin-top: 150px
}

.team-sect .box{
    padding-bottom: 80px;
    width:calc(25% - 30px);
    margin: 0 15px 30px;
}

.team-sect .container{
    max-width: 1500px
}

.team-sect .box h5{
    margin-top: 60px
}

.team-sect .box .box-wrap{
    padding: 20px;
}

.team-sect .box .box-wrap:hover{
    background: #574DE1;
    box-shadow: 0px 30px 80px rgba(87, 77, 225, 0.2);
}

.team-sect .box p{
    line-height: 27px
}
    
.social i{
    font-size:18px;
    margin: 0 5px;
    cursor: pointer;
    color:#C9C9C9;
   }
   
.box .social{
    margin-top: 20px
}

.bg {
    background: url('img/bg1.jpg') no-repeat;
    background-size: contain
 }
 
 .bg2{
     position: relative;
 }
 
 .bg2:after{
    background: url('img/bg1.jpg') no-repeat;
    background-size: cover;
    content:"";
    position: absolute;
    right:0;
    width:40%;
    height: 100%;
    top:0;
    z-index: -1
 
 }
/*--testimonila-slider---*/
.review {
    position: relative;
    background: #FFFFFF;
    border: 0.3px solid #797979;
    box-sizing: border-box;
    border-radius: 20px;
    min-height: 200px;
    padding: 40px;
    transition: 0.3s all
   }
   
.review p{
    margin-top: 20px
   }
   
.stars i{
    color: #8178FF;
   }
   
   
.review:after{
    content:"";
    width:62px;
    height: 45px;
    position: absolute;
    bottom:0;
    background: url('img/arrow.svg') no-repeat ;
    background-size: contain;
    left:124px;
    top:100%;
   
   }
   
.tesit-box{
     margin: 30px;
 }


 .test-sect{
     padding: 20px 0 300px;
 }

 .testi {
     margin-top: 50px;
 }

.client {
    display: flex;
    padding: 50px 30px 30px;
    
}

.client  img{
    width:68px;
    height:68px;
    border-radius: 50%;
    margin-right: 20px
}

.client h6{
    color: #010010;
    font-weight: 700
}

.review:hover{
    box-shadow: 0px 30px 80px rgba(87, 77, 225, 0.2);
    border-color: #fff
}

.texti{
    position: relative;
}
   
.slick-dots {
    display: flex;
    justify-content: center
}

.slick-dots li button{
    border-radius: 50px;
    background: rgba(129, 120, 255, 0.5);
    margin: 0 10px;
    width:20px;
    transition: 0.3s all
}

.slick-dots li{
    margin: 0;
    width: auto;
    height: auto;
}

.slick-dots li button:before{
    display: none
}

li.slick-active button{
    width:70px;
    background: #8178FF
}


/*===== footer ===== */
footer{
    min-height: 400px;
    padding: 50px 0;
    background: #574DE1;
    color:#fff
}

footer .inner-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 50px;
}

footer .container .footer-col{
    width:calc(20% - 20px);
    padding: 0 10px;
    color:#fff
}

.footer-col h5{
    color:#fff
}


.footer-col p a{
    display: block;
    transition: 0.3s all
}

footer a , footer p a , footer p{
    color:#fff;
    opacity: 0.8;
}

footer a:hover{
    text-decoration: underline
}
    
.footer-col ul, .footer-col p {
    margin-top: 30px;
    word-break: break-word;
}

.footer-col  .social {
    display: flex;
    margin-top: 30px;
}
   
.footer-col  .social a{
    border: 2.4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    width:44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: 0.3s all;
    text-decoration: none
}
   
.footer-col  .social a i{
  color:#fff
}

.footer-col  .social a:hover i {
  color:#574DE1

}

.footer-col  .social a:hover{
  background: #fff;
  opacity: 1;
}

.footer-col  .social a:not(:last-child){
    margin-right: 12px
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
    border-top: 1px solid #FFFFFF;
}
   
   footer .bottom-links a{
    padding: 0 15px;
    position: relative;
}
      
footer .bottom-links a:not(:last-child):after{
    content:"";
    width:3px ;
    height:calc(100% - 3px);
    position: absolute;
    right:0;
    background: #fff;
    opacity: 0.8;
    top:50%;
    transform: translatey(-50%)
}


.contact-box a.black-trans{
    border-color:#fff;
    color:#fff;
    opacity: 1
 }
 
 
 .contact-box{
    padding-bottom: 100px;
    margin-top: -200px;
    display: flex;
    justify-content: center
 }

 .contact-box a.black-trans:hover{
    background: #574DE1;
    border-color:#574DE1;
 }
 
 .cont-btn{
  margin-top: 30px
 }
 
 .cont-btn span , .cont-btn a{
  color:#fff;
  opacity: 1
 }
 
 .cont-btn a.btn  , .cont-btn a , .cont-btn span{
   margin: 0 10px
 }
 
 .contact-box h2{
   color:#fff
 }

 .contact-text{
    max-width: 700px;
    text-align: center;
    padding: 60px 30px;
    background: #262626;
    border-radius: 20px;
 }

.portwrap {
    display: flex;
    gap:20px;
    margin: 50px 0;
   }
   
.port-small , .port-big{
    min-height: 395px;
    height: 100%;
    border-radius: 30px;
    padding: 30px 20px;
 }
   
.port-small .port-img{
    position: relative;
    margin: 5px 0;
    border-radius:10px
}

.port-small .port-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.pink{
    background: #FFF2F9;
    border: 1px solid #FB449F;
    border-radius: 30px;

}

.light-purple{
    background: #F6F5FF;
    border: 1px solid #574DE1;

}

.yellow{
    background: #FFFAF2;
    border: 1px solid #262626;
}

.img-wrap {
    display: flex;
    gap:20px
}


.port-text {
    padding: 30px  10px 0;
}

.port-text h4{
    font-weight: 400
}

.purple-port{
    background: #F6F5FF;
    border: 1px solid #574DE1;
    box-sizing: border-box;
}
   
.light-purple .img-wrap:not(:last-child){
    margin-bottom: 30px;
}

.portwrap.reverse{
    flex-direction: row-reverse;
}

.portfolio-sect {
    padding: 50px 0;
}

.portfolio-sect h2{
    text-align: center;
}

.hero-section .container .hero-col .cursor{
    color: #574DE1;
}

@media (max-width:1300px){

    .services .left-col{
        padding-right: 40px;
    }
    .services .left-col .serv-box {
        width: 100%;
        margin: 0;
    }

    .brands, .services {
        padding: 70px 0;
    }

    .team-sect .box{
        width:calc(33.33% - 30px);
        margin: 0 15px 30px;
    }

    footer .container .footer-col {
        width: calc(33.33% - 40px);
        padding: 0 20px 50px;
        color: #fff;
    }

    footer .inner-footer {
        margin: 0 17px 50px;
    }

    .footer-col ul, .footer-col p {
        margin-top: 12px;
    }
    .mobile-hero-img{
        display: none;
    }
    .lower{
        padding-top: 0px;
    }
}
@media (max-width:1150px){
    body .lead-1 p {
        font-size: 20px;
        line-height: 35px;
    }

    h1 {
        font-size: 53px;
    }

    .btn-cont .btn {
        min-width: 140px;
        padding: 12px 10px;
    }

    header .btn{
        min-width: 140px;
        padding: 12px 10px;
    }

    header ul li:not(:last-child) {
        margin-right: 25px;
    }

    .box{
        width:calc(50% - 50px)
    }

    .tesit-box {
        margin: 15px;
    }

    .review {
        padding: 30px 20px;
    }
    .mobile-hero-img{
        display: none;
    }

}

@media (min-width:1149px){
    .menu-links{
        position: static;
    }
    .mobile-hero-img{
        display: none;
    }
 }


 @media (max-width:1024px){
    .team-sect .box{
        width:calc(50% - 30px);
        margin: 0 15px 30px;
    }

    .tesit-box {
        margin: 25px;
    }
    .mobile-hero-img{
        display: none;
    }
}

@media (max-width:900px){
    .hero-section{
        margin-top: -35px;
    }
    .hero-section .hero-img{
        display: none;
    }
    .mobile-hero-img{
        display: block;
        max-width: 79%;
        margin:auto;
    }

    .hero-section .hero-col.content{
        width: 100%;
        max-width: 700px;
        padding: 50px 0
    }
    header span.menu-open{
        display: block
    }

    header .btn-wrap{
        display: none;
    }

    header .menu-links {
        margin: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        background: #fff;
        left: 0;
        display: none;
        padding: 30px;
        box-sizing: border-box;
        height: 100vh;
    }

    header ul li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }

    header ul {
        flex-direction: column;
    }

    html.active body{
      overflow: hidden;
    }

    .brands .img{
        width:calc(33.33% - 40px);
    }

    .services .left-col {
        width: 100%
    }

    .services .right-col {
        width: 100%;
        max-width: 100%;
    }

    .services .container {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .services .left-col {
       padding: 80px 0 0 0;
    }

    .right-col .serv-box .inn-box {
        text-align: center;
    }

    .serv-box .inn-box {
        text-align: center;
    }

    .services {
        padding: 50px 0;
    }

    .brands {
        padding: 50px 0;
    }

    .box .box-wrap {
        padding: 45px 25px;
    }

    .box {
        width: calc(50% - 20px);
        margin: 0 10px 30px;
    }
}


@media (max-width:830px){
    footer .container .footer-col {
        width: calc(50% - 30px);
        padding: 0 15px 30px;
    }

    footer .inner-footer {
        margin: 0 10px 50px;
    }
    
}


@media (max-width:800px){
    .portwrap, .portwrap.reverse {
        margin: 30px auto;
        flex-direction: column;
        max-width: 600px;
    }

    .img-wrap{
        flex-direction: column;
    }

    .img-wrap img{
        width:100%
    }
}
@media (max-width:767px){
  
    body .lead-1 p {
        font-size: 18px;
        line-height: 36px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
        line-height: 45px;
    }

    h5 {
        font-size: 20px;
        line-height: 30px;
    }

    span.line {
        width: 35px;
    }

    .hero-section .btn-cont {
        margin: 30px -15px 0;
    }

    body p {
        font-size: 18px;
        line-height: 35px;
    }

    h3 {
        font-size: 24px;
        line-height: 32px;
    }

    
    .box {
        width: 100%;
        margin: 0 0 30px;
    }

    .box .box-wrap {
        padding: 30px 25px;
        min-height: auto
    }
    
    .team-sect .box{
        width:100%;
        margin: 0 0 30px;
    }

    .bottom-links {
        margin: 17px -15px 0;
    }

    .bottom-footer{
        flex-direction: column;
    }

    .choose-sect .box .box-wrap{
        min-height: auto;
    }
    .big-padd {
        padding: 40px 0;
    }

}

@media (max-width:600px){
    .brands .img {
        width: calc(50% - 40px);
    }

    footer .container .footer-col {
        width: 100%;
        padding: 0 15px 30px;
    }

    .footer-col ul, .footer-col p {
        margin-top: 5px;
    }

    footer .inner-footer {
        margin: 0 0 20px;
    }

    
    h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .cont-btn {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .contact-box {
        padding-bottom: 40px;
    }
}



